h1{
    font-size: 24px;
    color: #242424;
    font-weight: 900;
}

h2{
    font-size: 20px;
    color: #606060 ;
    font-weight: 800;
}

p{
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#listaProvincias{
    font-family: monospace;
    font-size: 18px;
    border: solid 2px blue;
    margin-left: 100px;
    padding: 20px;
    width: 40%;
    list-style: none;
}

li{
    padding: 10px;
}

li:hover{
    background-color:rgba(0, 0, 0, 0.1);

}

.linkProvincia{
    font-weight: bold;
    color: orange;
    text-decoration:underline;
}

#provNeuquen, #provRioNegro{
    color: green;
} 

body{
    background-color: rgb(245, 245, 245);
    font-family:sans-serif;
}